// @import 'vendor/reset.scss';
// @import "../node_modules/bootstrap/scss/functions";
@import "vendor/my-grid.scss";



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@mixin inter {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
@mixin manrope {
    font-family: 'Manrope', sans-serif;
}
@mixin caveat {
    font-family: 'Caveat', cursive;
}
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
@mixin mainbluetext {
    color: #0723DF;
}
@mixin mainblueback {
    background-color: #0723DF;
}

$grid-columns:      24;



@mixin backblue {
    background-color: #2C71F7;
}

@import 'blocks/sidenav.scss';
@import 'blocks/header.scss';


// основные стили

.page {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1600px;
    width: 100%;
}

.wrapper {
    max-width: 1350px;
    margin-left: 250px;
    padding-left: 80px;
}


 .btn {
    
    @include mainblueback;
    @include inter;
    color: white;
    // font-size: 14px;
    border-radius: 5px;
    line-height: height;
    border-width: 0px;
    text-align: center;
    padding: revert;
}





._blue {
    @include mainbluetext;
}

._white-button {
    background-color: transparent;
    @include mainbluetext;
    border: 2px solid #0723DF;
    
}

._semibold {
    font-weight: 600;
}


._large-text {
    font-size: 36px;
    line-height: 50px;
}


._details {
    @include montserrat;
    font-size: 14px;
}

h2 {
    @include manrope;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}


h3 {
    @include manrope;
    font-size: 26px;
    font-weight: 600;
}

h4 {
    @include manrope;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}

p {
    margin-bottom: 0px;
}

// .row>* {
//     padding: 0;
// }

// стили главного блока

.chevron-left, .chevron-right {
    background-color: transparent;
    margin-left: 16px;
}

.loyalty {
    padding-top: 100px;
    padding-bottom: 120px;

}

.loyalty-companies {
    display: flex;
    // margin-left: 80px;
    margin-top: 30px;
}

.loyalty-block {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    cursor: pointer;
    p{
        @include manrope;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    &:hover {
        .company {
            @include mainblueback;
        }
        path {
            fill: white;
        }
    }
}

.company {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.185);
    align-items: center;
    justify-content: center;
    path {
        fill: #c4c4c4;
    }
}

.head-tech {
    position:  relative;
    width: 514px;
    height: 398px;
    img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    p {
        @include inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        opacity: .5;
    }
}

.tech-supervision {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 80px;
}

.tech-description {
    max-width: 578px;
    p {
        @include manrope;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
}


// ========quiz=======

.quiz {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
    p{
        @include manrope;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #c4c4c4;
        margin-top: 30px;
        margin-bottom: 44px;
    }
    ._tech {
        @include inter;
    }
}

.prog-bar {
    width: 300px;
    .progress {
        height: 4px;
    }
}

.quiz-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:545px;
    max-height: 660px;
    height: 100%;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.object-type {
    display: flex;
    flex-direction: column;
    height: 264px;
    justify-content: space-between;
}

.form-check-label {
    color: #3B4146;
    cursor: pointer;
    @include manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.quiz-btn-group {
    display: flex;
    margin-top: 204px;
    .btn {
        @include inter;
        font-weight: 600;
        font-size: 17px;
        width: 174px;
        height: 60px;
        &:hover {
            background-color: #2C71F7;
        }
    }
    .btn-prev {
        color: rgba(196, 196, 196, 1);
    }
}

// ========help-situations=========


.help-situations {
    padding-top: 55px;
    padding-bottom: 100px;
    
}

.help-block {
    padding-top: 50px;
    padding-bottom: 60px;
    &:not(:last-of-type) {
        border-bottom: 2px solid #0724df0c;
    }
    p {
        @include manrope;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-top: 15px;
    }
    h4 {
        margin-top: 15px;
    }
}

._info-text {
    display: block;
    @include inter;
    font-weight: 400;
    font-size: 18px;
    opacity: .3;
    line-height: 24px;
    margin-top: 8px;
}



// ===========   services   ==========


.services {
    padding-top: 65px;
    padding-bottom: 100px;
    h2{
        margin-bottom: 50px;
    }
}

.service-item {
    width: 585px;
    height: 340px;
    border-radius: 7px;
    border: 4px solid #E9EDFF;
    display: flex;
    overflow: hidden;
    img{
        height: 100%;
    }
    p{
        @include manrope;
        font-weight: 500;
        font-size: 14px;
    }
    ._blue {
        @include manrope;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
    }
   
    .cost {
        @include manrope;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;
        color: rgba(196, 196, 196, 1);
        
    }
    .button-group {
        @include montserrat;
        font-size: 15px;
        line-height: 18px;
        p {
            margin-right: 15px;
        }
    }
    .ordered {
        width: 118px;
        justify-content: space-between;
    }
    .rating {
        width: 138px;
        justify-content: space-between;
    }
}

.service-row {
    display: flex;
    justify-content: space-between;
}

._round-button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.service-desc {
    width: 100%;
    margin: 25px 42px 20px 26px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-block {
    border-radius: 7px;
    border: 3px #E9EDFF solid;
}

.ordered, .rating, .rating-block {
    display: flex;
    align-items: center;
}

.rating-block {
    justify-content: space-between;
}

.service-desc-text {
    @include manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.button-group {
    display: flex;
    justify-content: end;
    align-items: center;
    path {
        stroke: white;
    }
}

// ============дополнительные услуги===========

.addition-service {
    padding-top: 83px;
    padding-bottom: 90px;
    h2 {
        margin-bottom: 38px;
    }
}

.addition__item {
    @extend .service-item;
    width: 386px;
    height: 226px;
    .service-desc {
        margin: 17px 28px 14px 18px;
    }
    .rating-block{
        img{
            height: 12px;
        }
        .ordered {
            width: 78px;
            justify-content: space-between;
        }
        .rating {
            width: 92px;
            justify-content: space-between;
        }
    }
    
    p{
        font-size: 10px;
    }
    ._blue {
        font-size: 13px;
        line-height: 15px;
    }
    .cost {
        font-size: 23.47px;
        line-height: 28px;
    }
    ._round-button {
        width: 45px;
        height: 45px;
    }
    svg {
        width: 5px;
        height: 9px;
    }
    .button-group {
        @include montserrat;
        font-size: 10px;
        line-height: 12px;
        p {
            margin-right: 10px;
        }
    }
}



// ===============   описание спец оборудования   ==========

.device__item {
    width: 268px;
    height: 166px;
    position: relative;
    border: white 1px solid;
    p{
        position: absolute;
        color: white;
        bottom: 0;
        bottom: 16px;
        left: 20px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



// ===============  технический надзор за ремонтом квартиры =======


.nav-pagination {
    position: relative;
    height: 2px;
    background-color: gray;
    // width: 100%;
    .pagination__line {
        height: 100%;
        position: absolute;
        width: 40px;
        background-color: #0723DF;
    }
}


.room-done {
    padding-left: 0px;
    overflow: hidden;
    position: relative;
    
    
    #windows {
        top: 185px;
        left: 104px;
    }
    #heat {
        top: 450px;
        left: 190px;
    }
    #floor {
        top: 610px;
        left: 320px;
    }
    #wall {
        right: 40px;
        top: 345px;
    }
}
.dot {
    position: absolute;
    background-color: transparent;
}

.room-null {
    @extend .room-done;
    #ceiling {
        top: 100px;
        right: 300px;
    }
    #electricity {
        top: 400px;
        right: 150px;
    }
    #vent {
        top: 324px;
        left: 70px;
    }
}




// ========== мобильное приложение ============== 

.mobile-app {
    padding-top: 70px;
    padding-bottom: 56px;
    h2 {
        margin-bottom: 24px;
    }
}

.mobile-app-header-desc {
    @include manrope;
    font-weight: 200;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 70px;
}

.app__usability {
    height: 230px;
    align-content: space-between;
    margin-top: 70px;
    // height: 100%;

}

// ============   сделанные проекты ============ 

.done-projects-swiper {
    width: 100%;
    height: 100%;
    // height: 50px;
    .swiper-slide {
        width: 380px;
        border: 3px #E9EDFF solid;
        border-radius: 8px;
        overflow: hidden;

    }
}
.project__item {
    width: 380px;
    height: 620px;
    

}
