.header-background {
    // position: relative;
    background-color: rgb(71, 69, 69);
}

.header-body {
    max-width: 727px;
    width: 100%;
    max-height: 589px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: calc(50% - 295px);
    margin-left: 258px;
    // left: calc(50% - 363px)
}

.main-header {
    position: relative;
    max-height: 900px;
    padding-left: 0px !important;
}

.header-theme {
    @include manrope;
    h2 {
        font-weight: 700;
        font-size: 38px;
        
    }
    p {
        font-weight: 400;
        font-size: 18px;
    }

}

.header-stats {
    h3{
        @include manrope;
        font-weight: 400;
        font-size: 18px;
    }
    p{
        @include manrope;
        font-weight: 400;
        font-size: 14px;
    }
}

.header-task-button {
    font-size: 17px;
    width: 274px;
    height: 59px;
}

.header-body-wrapper {
    padding: 50px 70px;
    height: 100%;
}

.header-contact {
    p{
        @include manrope;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
}