<footer>
    <div class="container-fluid">
        <div class="row footer-row">
            <div class="col-6 footer__left-side">
                <h1 class="logo"> <span class="_blue">мой </span> надзор. </h1>
                <div class="cont-list">
                    <img src="assets/images/svg/download.svg" alt="download">
                    <p class="_semibold _blue">Выписка из реестра членов СРО</p>
                </div>
                <p class="confidential">Политика <br> конфиденциальности</p>
            </div>
            <div class="col footer__right-side">
                <div class="row footer-right-up">
                    <div class="col-6 offset-3">
                        <div class="dropdown services-dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Услуги и цены
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Действие</a></li>
                              <li><a class="dropdown-item" href="#">Другое действие</a></li>
                              <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-6">
                        <p>Приемка квартир</p>
                    </div>
                    <div class="col-5">
                        <p>Наши проекты</p>
                    </div>
                    <div class="col-3">
                        <p>Блог</p>
                    </div>
                </div>
                <div class="row footer-contacts">
                    <div class="col-13 border footer-cont-left" >
                        <div class="cont-list">
                            <img src="assets/images/svg/phone.svg" alt="phones">
                            <p>+7 (495) 961-31-12 <br> <span>пн-пт 09:00–19:00
                            </span></p>
                        </div>
                        <div class="cont-list">
                            <img src="assets/images/svg/at-sign.svg" alt="email">
                            <p>moinadzor@nadzor.com</p>
                        </div>
                        <div class="cont-list">
                            <img src="assets/images/svg/map-pin.svg" alt="map-pin">
                            <p>Столярный пер., 3, корп. 13, Москва</p>
                        </div>
                    </div>
                    <div class="col-11 border footer-cont-right" >
                        <p>Мы в социальных сетях</p>
                        <div class="social-media">
                            <button class="btn"><img src="assets/images/svg/instagram-white.svg" alt="instagram"></button>
                            <button class="btn"><img src="assets/images/svg/la_telegram-plane-white.svg" alt="telegram"></button>
                            <button class="btn"><img src="assets/images/svg/wa-white.svg" alt="whatsapp"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
