<header class="wrapper main-header">
    <div class="header-background">
        <img src="assets/images/header-main-background.jpg" alt="main-background">
    </div>

    <div class="header-body">
        <div class="container header-body-wrapper">
            <div class="row  header-theme ">
                <h2 class="mb-4">Технический <span class="_blue">надзор</span>  <br> за ремонтом квартир</h2>
                <p>Ремонт в срок: без личного присутствия, <br> переплат и споров со строителями</p>
            </div>

            <div class="row">
                <span class="border-bottom mt-5 mb-4 "></span>
            </div>

            <div class="row justify-content-between header-stats">
                <div class="col-10">
                    <h3> <span class="_large-text">127 563</span>  тыс м²</h3>
                    <p class="_blue" >Жилья отремонтировано под нашим контролем</p>
                </div>
                <div class="col-10  align-self-center">
                    <h3> <span class="_large-text">857 208 520 </span>  ₽</h3>
                    <p class="_blue">Сэкономлено собственникам квартир</p>
                </div>
            </div>
            
            <div class="row">
                <span class="border-bottom mb-5 mt-4"></span>
            </div>

            <div class="row  justify-content-between header-contact">
                <div class="col-10 ">
                    <p>Мы обеспечим вам комфортное управление ремонтом из любой точки мира </p>
                </div>
                <div class="col-12 align-self-left">
                    <button class="btn header-task-button" >Поставить задачу</button>
                </div>
            </div>

           

        </div>
        
    </div>
    
</header>


