<nav class="sidenav">
    <div class="sidenav-wrapper">
        <div class="sidenav-top">
            <h1 class="logo"> <span>мой</span> надзор.</h1>
            <p class="creed">«Ремонт без хлопот»</p>
        </div>

        <ul class="side-nav-main">
            <li>Услуги и цены</li>
            <li>Приемка квартир</li>
            <li>Наши проекты</li>
            <li>Блог</li>
        </ul>

        <div class="side-buttons">
            <button class="btn side-button" >Подробнее</button>
            <button class="btn side-button _white-button">Личный кабинет</button>
        </div>

        <div class="contacts ">
            <div class="cont-list">
                <img src="assets/images/svg/download.svg" alt="download">
                <p class="_semibold _blue">Выписка из реестра членов СРО</p>
            </div>
            <div class="cont-list">
                <img src="assets/images/svg/phone.svg" alt="phones">
                <p>+7 (495) 961-31-12 <br> <span>пн-пт 09:00–19:00
                </span></p>
            </div>
            <div class="cont-list">
                <img src="assets/images/svg/at-sign.svg" alt="email">
                <p>moinadzor@nadzor.com</p>
            </div>
            <div class="cont-list">
                <img src="assets/images/svg/map-pin.svg" alt="map-pin">
                <p>Столярный пер., 3, корп. 13, Москва</p>
            </div>

        </div>

        <div class="social-media">
            <button class="btn"><img src="assets/images/svg/instagram.svg" alt="instagram"></button>
            <button class="btn"><img src="assets/images/svg/la_telegram-plane.svg" alt="telegram"></button>
            <button class="btn"><img src="assets/images/svg/whatsapp.svg" alt="whatsapp"></button>
        </div>

        

    </div>
</nav>